*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subject{
    width: 80%;
    margin-left: 10%;
    padding: 50px;

    .title{
        .title-p{
            font-size: 40px;
            text-align: center;
        }
    }

    form{
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        min-height: 300px;
        padding: 50px;

        &:hover{
            transition: all 0.5s linear;
            transform: scale(1.1);
        }

        .item-form{
            margin-top: 10px;
            input{
                width: 100%;
                height: 40px;
                border:  1px solid darkgrey;
                border-radius: 20px;
                padding: 20px;

                &:hover{
                    border-color: green;
                }
            }
        }

        .button{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50px;

            .button-add{
                border:  1px solid darkgrey;
                border-radius: 20px;
                width: 100px;
                background-color: deepskyblue;
            }
            .button-edit{
                border:  1px solid darkgrey;
                margin-left: 20px;
                border-radius: 20px;
                width: 100px;
                background-color: deepskyblue;
            }
        }
    }
    .subject-list{
        margin-top: 50px;
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 50px;

        .subject-item{
            height: 400px;
            width: 250px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            &:hover{
                transition: all 0.5s linear;
                transform: scale(1.1);
            }

            .image-item{
                width: 150px;
                height: 200px;
                margin-left: 30px;
            }

            .content{
                .name-item{
                    text-align: center;
                    font-size: 20px;
                }
                .describe-item{
                    margin-top: 20px;
                    text-align: center;
                }
            }

            .icon{
                display: flex;
                margin-top: 20px;
                justify-content: center;

                .icon-item{
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }
}
